            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo"><a href="/"><img src="/includes/assets/logo.png"/>Cresco Agent</a></div>
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">
{% if section == "agents" and page == "index" %}
                                <li class="active">
{% else %}
                                <li>
{% endif %}
                                    <a href="/agents"><i class="fa fa-laptop"></i> Agents</a>
                                </li>
{% if section == "plugins" and page == "index" %}
                                <li class="active">
{% else %}
                                <li>
{% endif %}
                                    <a href="/plugins"><i class="fa fa-plug"></i> Plugins</a>
                                </li>
{% if section == "alerts" %}
                                <li class="active open">
{% else %}
                                <li>
{% endif %}
                                    <a href=""><i class="fa fa-bell"></i> Alerts <i class="fa arrow"></i></a>
                                    <ul>
{% if section == "alerts" and page == "index" %}
                                        <li class="active">
{% else %}
                                        <li>
{% endif %}
                                            <a href="/alerts">All alerts</a>
                                        </li>
{% if section == "alerts" and page == "repository" %}
                                        <li class="active">
{% else %}
                                        <li>
{% endif %}
                                            <a href="/alerts/logs">Logs</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <footer class="sidebar-footer">
                    </footer>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>