            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo"><a href="/"><img src="/includes/assets/logo.png"/>Cresco Agent</a></div>
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">
{% if section == "regions" and page == "index" %}
                                <li class="active">
{% else %}
                                <li>
{% endif %}
                                    <a href="/regions"><i class="fa fa-sitemap"></i> Regions</a>
                                </li>
{% if section == "agents" and page == "index" %}
                                <li class="active">
{% else %}
                                <li>
{% endif %}
                                    <a href="/agents"><i class="fa fa-laptop"></i> Agents</a>
                                </li>
{% if section == "plugins" and page == "index" %}
                                <li class="active">
{% else %}
                                <li>
{% endif %}
                                    <a href="/plugins"><i class="fa fa-plug"></i> Plugins</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <footer class="sidebar-footer">
                    </footer>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>