{% extends "page.html" %}

{% block title %}Build New Application{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="/includes/css/force.css">
<link rel="stylesheet" href="/includes/css/context-menu.css">
<link rel="stylesheet" href="/includes/css/menu.css">
{% endblock %}

{% block pagecontent %}
                <div id='app-row' class="row" style="position: absolute;left: 300px;right: 70px;bottom: 70px;top: 110px;">
                    <div class="card card-outline-primary" style="height: 100%;margin: 0;padding: 0;">
                        <div class="card-header bordered">
                            <div class="header-block">
                                <h2 class="cresco-list-title">Application Builder</h2>
                            </div>
                        </div>
                        <div id="workspace" class="card-block" style="position: absolute; top: 52px; left: 0px; bottom: 0px; width: 100%; padding: 0;"></div>
                    </div>
                </div>
                <div class="modal fade" id="edit-plugin-modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="edit-plugin-modal-title"></h4>
                            </div>
                            <div class="modal-body" id="edit-plugin-modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="cancelUpdatePlugin();">Close</button>
                                <button type="button" class="btn btn-success" onclick="updatePlugin();">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="submit-application-modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="submit-application-modal-title">Previewing Application Descriptor</h4>
                            </div>
                            <div class="modal-body" id="submit-application-modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="submitCADL();">Submit Application</button>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="/includes/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/includes/js/context-menu.js"></script>
    <script type="text/javascript" src="/includes/js/menu.js"></script>
    <script type="text/javascript" src="/includes/js/force.js"></script>
    <script type="text/javascript">
        var pluginData = {};

        $(function() {
            $.getJSON('/plugins/listrepo', function(data) {
                pluginData = data;
            });
        });

        function generateTooltip(d) {
            var tooltip_html = "<div id='node-tooltip-title'>" + d.title + "</div>";
            for (var param in d.params) {
                tooltip_html += "<b>" + param + "</b>: " + d.params[param] + "<br>";
            }
            return tooltip_html;
        }

        function editplugin(d) {
            editting_plugin = true;
            var node = nodes[d.data.node.index];
            $('#edit-plugin-modal-title').html("Editting " + node.title);
            var modalBody = $('#edit-plugin-modal-body');
            modalBody.append("<input type='hidden' id='edit-plugin-index' value='" + node.index + "' /><br>");
            var pluginList = "<select class='form-control' id='edit-plugin-selected-plugin'><option value='-1'>-- Select Plugin --</option>";
            $.each(pluginData.plugins, function(i, v) {
                pluginList += "<option value='" + i + "'";
                if (v.pluginname == node.params.pluginname) {
                    pluginList += " selected ";
                }
                pluginList += ">" + v.pluginname + "</option>";
            });
            pluginList += "</select><br>";
            modalBody.append(pluginList);
            for (var param in node.params) {
                if (!node.params.hasOwnProperty(param)) continue;
                var paramHTML = "<div class='form-group row'>";
                if (param === "pluginname" || param === "jarfile" || param === "version" || param === "md5") {
                    paramHTML += "<div class='col-sm-3'><input class='form-control' disabled name='edit-plugin-param-keys[]' placeholder='Parameter Key' value='" + param + "' /></div>";
                    paramHTML += "<div class='col-sm-9'><input id='edit-plugin-" + param + "' class='form-control' disabled name='edit-plugin-param-values[]' placeholder='Parameter Value' value='" + node.params[param] + "'/></div>";
                } else if (param === "location_agent" || param === "location_region") {
                    paramHTML += "<div class='col-sm-3'><input class='form-control' disabled name='edit-plugin-param-keys[]' placeholder='Parameter Key' value='" + param + "' /></div>";
                    paramHTML += "<div class='col-sm-9'><input id='edit-plugin-" + param + "' class='form-control' name='edit-plugin-param-values[]' placeholder='Parameter Value' value='" + node.params[param] + "'/></div>";
                } else {
                    paramHTML += "<div class='col-sm-3'><input class='form-control' name='edit-plugin-param-keys[]' placeholder='Parameter Key' value='" + param + "' /></div>";
                    paramHTML += "<div class='col-sm-8'><input class='form-control' name='edit-plugin-param-values[]' placeholder='Parameter Value' value='" + node.params[param] + "'/></div>";
                    paramHTML += "<button type='button' class='btn btn-danger' onclick='$(this).closest(\"div\").remove();'><i class='fa fa-trash'></i></button>";
                }
                paramHTML += "</div>";
                modalBody.append(paramHTML);
            }
            modalBody.append("<button id='addParamBtn' type='button' class='btn btn-primary' onclick='addParamField();'><i class='fa fa-plus-square'></i> Add Parameter</button>");
            $('#edit-plugin-selected-plugin').change(function() {
                var pluginname = $('#edit-plugin-pluginname');
                pluginname.val('');
                var jarfile = $('#edit-plugin-jarfile');
                jarfile.val('');
                var version = $('#edit-plugin-version');
                version.val('');
                var md5hash = $('#edit-plugin-md5');
                md5hash.val('');
                var pluginID = $('#edit-plugin-selected-plugin').val();
                if (pluginID > -1) {
                    var pluginInfo = pluginData.plugins[pluginID];
                    pluginname.val(pluginInfo.pluginname);
                    jarfile.val(pluginInfo.jarfile);
                    version.val(pluginInfo.version);
                    md5hash.val(pluginInfo.md5);
                }
            });
            $('#edit-plugin-modal').modal('show');
            $('#edit-plugin-modal').on('hidden.bs.modal', function() {
                resetModal();
            });
        }

        function addParamField() {
            var paramHTML = "<div class='form-group row'>";
            paramHTML += "<div class='col-sm-2'><input class='form-control' name='edit-plugin-param-keys[]' placeholder='Parameter Key' /></div>";
            paramHTML += "<div class='col-sm-9'><input class='form-control' name='edit-plugin-param-values[]' placeholder='Parameter Value' /></div>";
            paramHTML += "<button type='button' class='btn btn-danger' onclick='$(this).closest(\"div\").remove();'><i class='fa fa-trash'></i></button>";
            paramHTML += "</div>";
            $(paramHTML).insertBefore( $("#addParamBtn") );
        }

        function deleteplugin(d) {
            if(selected_node) {
                nodes.splice(nodes.indexOf(selected_node), 1);
                spliceLinksForNode(selected_node);
            } else if(selected_link) {
                links.splice(links.indexOf(selected_link), 1);
            }
            selected_link = null;
            selected_node = null;
            tooltip.style('visibility', 'hidden');
            clearTimeout(tooltip_show);
            restart();
        }

        function cancelUpdatePlugin() {
            resetModal();
        }

        function updatePlugin() {
            var index = $('#edit-plugin-index').val();
            var node = nodes[index];
            var paramKeys = []
            $('input[name^="edit-plugin-param-keys"]').each(function() {
                paramKeys.push($(this).val());
            });
            var paramValues = []
            $('input[name^="edit-plugin-param-values"]').each(function() {
                paramValues.push($(this).val());
            });
            node.params = {};
            for (var i = 0; i < paramKeys.length; i++) {
                node.params[paramKeys[i]] = paramValues[i];
            }
            restart();
            resetModal();
        }

        function resetModal() {
            editting_plugin = false;
            $('#edit-plugin-modal').modal('hide');
            $('#edit-plugin-modal-title').html('');
            $('#edit-plugin-modal-body').html('');
            if (active_menu != null)
                active_menu.hide();
            active_menu = null;
            active_menu_node = null;
            selected_link = null;
            selected_node = null;
            tooltip.style('visibility', 'hidden');
            clearTimeout(tooltip_show);
            restart();
        }

        function previewCADL() {
            editting_plugin = true;
            var cadl = generateCADL();
            $('#submit-application-modal-body').html('<pre style="max-height: 300px; overflow-y: scroll;">' + syntaxHighlight(JSON.stringify(cadl, undefined, 4)) + '</pre>');
            $('#submit-application-modal').modal('show');
        }

        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }

        function submitCADL() {
            editting_plugin = false;
            $('#submit-application-modal').modal('hide');
            var allValidNodes = true;
            $.each(nodes, function(i, v) {
                if (!checknode(v))
                    allValidNodes = false;
            });
            if (allValidNodes) {
                var cadl = generateCADL();
                console.log("Submitting CADL");
                console.log(cadl);
                var data = {};
                data.tenant_id = "0";
                data.pipeline = JSON.stringify(cadl, undefined, 4);
                console.log(data);
                $.post("/applications/add", data, function(result) {
                    window.location.href = "/applications";
                });
            } else {
                alert("There are invalid nodes (highlighted in red) that need correcting!")
            }
        }

        function generateCADL() {
            var cadl = {};
            cadl['pipeline_id'] = '0';
            cadl['pipeline_name'] = 'demo_pipeline';
            cadl['nodes'] = [];
            $.each(nodes, function(i, v) {
                var node = {
                    'type': 'dummy',
                    'node_name': v.title,
                    'node_id': v.id,
                    'isSource': false,
                    'workloadUtil': 0.0,
                    'params': v.params
                };
                cadl['nodes'].push(node);
            });
            cadl['edges'] = [];
            $.each(links, function(i, v) {
                if (v.right) {
                    var edge = {
                        'edge_id': '0',
                        'node_from': v.source.id,
                        'node_to': v.target.id
                    };
                    cadl['edges'].push(edge);
                }
                if (v.left) {
                    var edge = {
                        'edge_id': '0',
                        'node_from': v.target.id,
                        'node_to': v.source.id
                    };
                    cadl['edges'].push(edge);
                }
            });
            return cadl;
        }
    </script>
{% endblock %}