{% extends "page.html" %}

{% block title %}Agents{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" href="/includes/css/datatables.min.css">
{% endblock %}

{% block pagecontent %}
                <div class="row">
                    <div class="col-xs-4">
                        <select class="form-control" id="regions" name="regions"></select>
                        <label for="regions">Region</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div id='agents-row' class="row"  style='display: none;'>
                    <div class="col-xs-12">
                        <table id='agents' class='table table-bordered table-striped' cellspacing="0" width='100%'>
                            <thead>
                            <tr>
                                <td>Agent</td>
                                <td>Region</td>
                                <td>Plugins</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Agent</td>
                                <td>Region</td>
                                <td>Plugins</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal fade" id="agent-info-modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="agent-info-modal-title"></h4>
                            </div>
                            <div class="modal-body" id="agent-info-modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="/includes/js/datatables.min.js"></script>
    <script type="text/javascript">
        var regions = $('#regions');
        var agents_row = $('#agents-row');
        var agents = $('#agents');
        var agents_body = $('#agents tbody');
        var agent_info_modal = $('#agent-info-modal');
        var agent_info_modal_title = $('#agent-info-modal-title');
        var agent_info_modal_body = $('#agent-info-modal-body');
        $(function() {
            $.ajax({
                url: "/regions/list"
            }).complete(function(data) {
                var json = data['responseJSON'];
                var options = '<option value="blank" selected></option><option value="">All</option>';
                $.each(json.regions, function(i, v) {
                    options += '<option value"' + v.name + '">' + v.name + '</option>';
                });
                regions.html(options);
            }).error(function(data) {
               console.error(data);
            });
            regions.change(function() {
                var region = regions.val();
                if (region === 'blank') {
                    agents_row.css('display', 'none');
                    return;
                }
                $.ajax({
                    url: "/agents/list/" + region
                }).complete(function(data) {
                    var json = data['responseJSON'];
                    var body = '';
                    $.each(json.agents, function(i, v) {
                        body += '<tr>';
                        body += '<td><a style="cursor: pointer" onclick="resources(\'' + v.region + '\',\'' + v.name + '\');">' + v.name + '</a></td>';
                        body += '<td>' + v.region + '</td>';
                        body += '<td>' + v.plugins + '</td>';
                        body += '</tr>';
                    });
                    agents_body.html(body);
                    agents.DataTable();
                    agents_row.css('display', 'block');
                }).error(function(data) {
                    console.error(data);
                });
            });
        });
        function resources(region, agent) {
            $.ajax({
                url: "/agents/resources/" + region + "/" + agent
            }).complete(function(data) {
                console.log(data);
                var json = data['responseJSON'];
                agent_info_modal_title.html("Resources: <br>" + region + "<br>" + agent);
                agent_info_modal_body.html('<pre>' + syntaxHighlight(JSON.stringify(json, undefined, 4)) + '</pre>');
                agent_info_modal.modal('show');
            }).error(function(data) {
                console.error(data);
            });
        }
        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>
{% endblock %}